<form>
  <div class="form-group">
    <label for="origem">Origem</label>
    <input type="text" class="form-control" id="origem">
  </div>
  <div class="form-group">
    <label for="tipoOrigem">Tipo Origem</label>
    <input type="text" class="form-control" id="tipoOrigem">
  </div>
  <div class="form-group">
    <label for="destino">Destino</label>
    <input type="text" class="form-control" id="destino">
  </div>
  <div class="form-group">
    <label for="tipoDestino">Tipo Destino</label>
    <input type="text" class="form-control" id="tipoDestino">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>